@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}

body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}

body.dark {
  background-color: #333;
}

.sidebar {
  background-color: var(--white-color);
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 65px 10px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.sidebar.close {
  padding: 60px 0;
  width: 55px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
  
}

.menu_items {

  padding: 0;
  list-style: none;
}

.navlink_icon {
  position: relative;
  font-size: 10px;
  min-width: 50px;
  line-height: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon:hover {
  background: var(--blue-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu ~ .submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 165px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 55px;
  left: 0;
}

.sidebar.close .bottom {
  justify-content: center;
  padding: 18px 0;
}

.sidebar.close .bottom span {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar.close {
    left: -100%;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }
}

body.dark .sidebar {
  background-color: var(--white-color);
}

body.dark .sidebar .nav_link {
  color: var(--grey-color);
}

.collapse-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

.sidebar.close .collapse-icon {
  display: block;
  margin: 0 auto;
}


.sidebar.close .bottom .collapse-icon { 
  margin: 0 auto;
}


.navlink_icon {
  width: 1px;  
  height: 45px;
  margin-right: 3px;  
}

.sidebar.close .navlink_icon {
  margin-right: 0;
}

.sidebar.close .nav_link {
  justify-content: center;
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
}

.sidebar.close .navlink_icon {
  display: block;
}